CCACHE_HASHDIR=true
CCACHE_SLOPPINESS=time_macros
CCACHE_NAMESPACE=ubuntu22-gcc13
CCACHE_CPP2=true
CCACHE_RESHARE=true
CCACHE_REMOTE_STORAGE=redis://172.24.237.209:6379/4
CCACHE_REMOTE_ONLY=true

HOME=/tmp
XDG_CACHE_HOME=/tmp/.cache
CYPRESS_CACHE_FOLDER=/tmp/.cache/Cypress

WITH_CRIMSON=true
WITH_SPDK=OFF
CC=gcc-13
CXX=g++-13
CMAKE_INTERPROCEDURAL_OPTIMIZATION=ON
ARGS=-DWITH_MGR_DASHBOARD_FRONTEND=OFF -DCMAKE_BUILD_TYPE=RelWithDebInfo

BUILD_DIR=build-crimson-gcc13
NPROC=8
